<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

  <div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h2>Edição de Artigo</h2>
      </div>
      <div class="card-body">
          <form method="POST" action="/articles/update">
            <input name="title"  value="<%= article.title %>" type="text" placeholder="Define o titulo do artigo"  class="form-control"  /> <br>
            <input name="body" value="<%= article.body %>"  placeholder="Defina o texto do seu artigo" class="form-control" id="bodyTextarea"  ></input> <br>
            <input name="id" value="<%= article.id %>" type="hidden" ></input> <br>
            <br>
            <button class="btn btn-success">Atualizar</button>
          </form>
      </div>
    </div>
  </div>

  
<%- include('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>

  tinymce.init({
    language: 'pt_BR',
    selector: "#bodyTextarea",
    plugins: [
      'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
    ]
  })

</script>