<%- include('../../partials/header.ejs') %>
  <%- include('../../partials/navbar.ejs') %>
    <div class="container">
      <hr>
      <h2>Artigos</h2>
      <a class="btn btn-success" href="/admin/articles/new">Criar novo Artigo</a>

      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Categoria</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% articles.forEach(({ id, title, slug, categoryId, category }) => { %>
            <tr>
              <td><%= id %></td>
              <td><%= title %></td>
              <td><%= slug %></td>
              <td><%= category.title %></td>
              <td>
                <form method="POST" action="/articles/delete" style="display:inline;" onsubmit="confirmDelete(event, this)">
                  <input type="hidden" name="id" value="<%= id %>">
                  <button class="btn btn-danger">Deletar</button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>

      </table>
    </div>
    <%- include('../../partials/footer.ejs') %>
      <script>
        function confirmDelete(e, form) {
          e.preventDefault();
          const decision = confirm('Você quer deletar este artigo?');
          if (decision) {
            form.submit();
          }
        }

      </script>