<%- include('../../partials/header.ejs') %>
<%- include('../../partials/homenavbar.ejs') %>

<body>
  <div class="container">
    <br>
    <% results.articles.rows.forEach(({ id, title, slug, categoryId, category }) => { %>
      <div class="card">
        <div class="card-header">
        <h2><%= title %></h2>
        </div>
        <div class="card-body">
        <a href="/<%= slug %>" class="btn btn-success">Ler Artigo</a>
        </div>
      </div>
      <br>
    <% }) %>

    <div class="row">
      
      <div class="col col-12">
        <% if(results.page !== 0){ %>
          <a style="float:left;" href="/articles/page/<%= results.page - 1 %>">Página Anterior</a>
        <% }  %>

        <% if(results.next){ %>
          <a style="float:right;" href="/articles/page/<%= results.page + 1 %>">Próxima Página</a>
        <% } %>
      </div>

    </div>
    <br>

  </div>
</body>

<%- include('../../partials/footer.ejs') %>